* {
  margin: 0px;
  padding: 0px;
}

body {
    color: #999999;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
	font-weight: 300;
	letter-spacing: 1.3px;
}

html, body{
	height: 100%;
}

body.demos .section-title img {
    max-width: 280px;
    display: block;
    margin: 10px auto;
}

body.demos .service-widget h3 {
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    padding: 20px 0;
    background-color: #ffffff;
}

body.demos .service-widget {
    margin: 0 0 30px;
    padding: 30px;
    background-color: #fff
}

body.demos .container-fluid {
    max-width: 1080px
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a,
button {
    margin-top: 2px;
    background-color: #d9e0a5;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}
.deleteIssue {
  margin-top: 2px;
  background-color: #d9e0a5;
  border: 2px solid #ddd;
  padding: 8px 30px;
  font-size: 11px;

}
.closeIssue {
  margin-top: 20px;
  background-color: #d9e0a5;
  border: 2px solid #ddd;
  padding: 8px 30px;
  font-size: 11px;
}
/* .lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
} */

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: lightgrey;
}

/* .id {
  font-size: 10.5px;
} */
